.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact__content {
  border: 1px solid #d5c9be;
  border-radius: 30px;
  background-color: var(--color-white);
  color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.contact__bg {
  display: none;
  background-image: url(../images/form-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 300%;
}

@media screen and (min-width: 960px) {
  .contact__content {
    grid-template-columns: 3fr 1fr;
  }

  .contact__bg {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .contact__content {
    grid-template-columns: 3fr 2fr;
  }

  .contact__bg {
    background-size: 240%;
  }
}

@media screen and (min-width: 1280px) {
  .contact__bg {
    background-size: 180%;
  }
}