.hero {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.hero__image {
  width: 100%;
  background-image: url(../images/image1.webp);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  padding: 380px 20px 50px;
  max-width: 540px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: var(--font-accent);
  font-size: 80px;
  line-height: 1.2;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 50px;
  line-height: 1.2;
}

.hero__list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 2px;
}

.hero__list-item {
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
  position: relative;
  padding-left: 59px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__list-item::before {
  position: absolute;
  content: url(../images/check1.svg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 39px;
  height: 37px;
}

.hero__list-number {
  padding-top: 5px;
  display: inline-block;
  font-family: var(--font-accent);
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.04;
}