:root {
  --color-primary: #222222;
  --color-secondary: #282829;
  --color-white: #ffffff;
  --color-grey: #55565a;
  --color-pastel-grey: #d5c9be;
  --font-accent: 'Prata', Arial, sans-serif;
  /* --sm-width: 768px;
  --md-width: 1024px;
  --lg-width: 1280px;
  --xl-width: 1440px; */
}